
* {
    box-sizing: border-box;
}

#container {
  width: 500px;
  margin: 20px auto;
}
#map1 {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  #container {
    width: 100%;
    margin: 0;
  }
  h1 {
    margin: 0 0.5em;
  }
  p {
    margin: 1em 1em;
  }
}
