
* {
    box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

#container {
  width: 500px;
  margin: 20px auto;
  word-wrap: break-word;
}
#map {
  height: 500px;
  width: 100%;
}

a {
  color: #FF9F00;
}
a:hover {
  color:#ff0000;
}
a:visited {
  color:#BF80FF;
}

@media screen and (max-width: 400px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  #container {
    width: 100%;
    margin: 0;
  }
  h1 {
    margin: 1em 0.5em;
  }
  p {
    margin: 1em 1em;
  }
}
